sv
*.zip
*.7z
*.log
*.mat
*.png
*.jpg
*.pdf
*.model
*.txt
*.diff
~*
*.csv
*.POMDP
*.pomdp
*.rar

target/
.classpath
.metadata
.project
.settings
bin/
*.tmp
*.swp
*.log
.pydevproject
.settings
*.pyc
.plugins
.idea/
